* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(133, 188, 243);
}
.container {
  width: 940px;
  height: 100vh;
  margin: 0 auto;
  padding: 100px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wheelinator {
  margin: 0 auto;
  width: 800px;
  height: 800px;
}
